#main-title {
    height: 755px;
    overflow-clip-margin: content-box; 
    overflow: clip;
}

#main-title img{
    min-width: 1845px;
    width: 100%;
}

.food-image {
    min-width: 12.5rem;
    min-height: 12.5rem;
    border: 2px solid purple;
}

.showcase-food {
    gap: 1rem;
}