#main-title {
    height: 47rem;
    overflow-clip-margin: content-box; 
    overflow: clip;
    position: relative;
}

#main-title img{
    min-width: 115rem;
    width: 100%;
}

#main-title .logo-container {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 18.75rem;
}

.logo-container .logo-text {
    color: #fff;
    font-size: 5rem;
}

.logo-container .locale-text {
    justify-self: end;
}

.mini-food-gallery {
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    padding: 5rem 1.5rem 3rem;
    gap: 3rem;
}

.food-image {
    width: 12.5rem;
    height: 12.5rem;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.showcase-food {
    gap: 1.5rem;
}

.food-img {
    width: 100%;
}

.order-now-btn {
    width: max-content;
    padding: .7rem 1.5rem;
}