/* :root {
    --clr-accent-400: hsl(34, 21%, 56%);
    --clr-accent-300: hsl(34, 21%, 76%);
    --clr-accent-200: hsl(34, 21%, 86%);
    --clr-accent-100: hsl(34, 21%, 97%);

    --clr-primary-800: hsl(338, 58%, 8%);
    --clr-primary-400: hsl(338, 38%, 38%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(0, 0%, 70%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-600: hsl(0, 0%, 35%);
    --clr-neutral-900: hsl(0, 0%, 12%);

    --ff-neutral: "Open Sans", sans-serif;
    --ff-accent: "Josefin Sans", sans-serif;
    --ff-primary: "Raleway", sans-serif;

    --ff-body: var(--ff-neutral);
    --ff-heading: var(--ff-primary);
    --ff-secondary: var(--ff-accent);

    --fs-100: .75rem;
    --fs-200: .8125rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.875rem;
    --fs-600: 3rem;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
} */

.main-image-display {
    height: 25rem;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.main-image-display img {
    position: relative;
    top: -8rem;
}

.menu-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 1.5rem 0 3rem;
    isolation: isolate;
}

.menu-header {
    grid-column: 1 / 3;
    justify-self: center;
    font-size: var(--fs-500);
    font-family: var(--ff-secondary);
    color: var(--clr-primary-800);
}

.starters-container {
    grid-row: 2;
    justify-self: end;
}

.main-course-container {
    grid-row: 3;
    grid-column: 2;
}

.desserts-container {
    grid-row: 4;
    justify-self: end;
}

.menu {
    width: 40ch;
}

.menu-list {
    gap: 1rem;
}

.menu-list-heading {
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-800);
    margin-bottom: 1rem;
}

.menu-item-name {
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-600);
}

.menu-item-description {
    font-size: var(--fs-200);
    color: var(--clr-neutral-400);
}

.image-wrapper {
    align-self: center;
    width: 20rem;
    box-shadow: .5rem .5rem .3rem var(--clr-primary-800);
}

.menu-image-wrapper-1 {
    height: 17rem;
}

.menu-image-1 {
    min-width: 26rem;
    position: relative;
    z-index: -1;
}

.menu-image-wrapper-2 {
    justify-self: end;
    height: 26.5rem;
}