html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2,h3,
h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
}

.display-flex {
    display: flex;
}
.display-grid {
    display: grid;
}
.center-items {
    justify-content: center;
    align-items: center;
}

.grid-horizontal-center {
    justify-items: center;
}

.center-text {
    text-align: center;
}

.primary-btn-colors {
    color: #fff;
    background-color: #09572a;
}

.btn-border {
    border-style: none;
    border-radius: .3rem;
}