html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex {
    display: flex;
}
.display-grid {
    display: grid;
}
.center-items {
    justify-content: center;
    align-items: center;
}

.primary-btn-colors {
    color: #fff;
    background-color: #09572a;
}

.btn-border {
    border-style: none;
    border-radius: .3rem;
}